* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root{
    /* Light Mode */
    --bg-color: #F8FAFC;
    --section-bg: #FFFFFF;
    --card-bg: #FFFFFF;

    --text-primary: #0F172A;
    --text-secondary: #64748B;

    --primary: #6366F1;
    --primary-hover: #4F46E5;
    --accent: #8B5CF6;

    --border: #E2E8F0;

    --hero-gradient: linear-gradient(135deg, #A855F7, #6366F1);
    --button-gradient: linear-gradient(135deg, #8B5CF6, #6366F1);

    --shadow: 0 8px 20px rgba(0,0,0,0.08);
}

body {
    width: 100%;
    background: var(--bg-color);
    color: var(--text-primary);
    transition: 0.4s ease;
}

/* Dark Mode */

.dark-mode{
    --bg-color: #0F172A;
    --section-bg: #1E293B;
    --card-bg: #1E293B;

    --text-primary: #F8FAFC;
    --text-secondary: #CBD5E1;

    --primary: #8B5CF6;
    --primary-hover: #A78BFA;
    --accent: #A855F7;

    --border: #334155;

    --hero-gradient: linear-gradient(135deg, #312E81, #4C1D95);
    --button-gradient: linear-gradient(135deg, #A855F7, #8B5CF6);

    --shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* button  */

.hero button,
.contact-btn,
.counter-box button{
    background: var(--button-gradient);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hero button:hover,
.contact-btn:hover,
.counter-box button:hover{
    transform: translateY(-3px);
}

/* Nav-bar */

.navbar {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    box-shadow: var(--shadow);
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #838384;
}

.dark-mode .navbar {
    border-bottom: 1px solid #334155;
}

.logo {
    color: var(--accent);
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 60px;
}

.navlinks a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-primary);
    transition: 0.4s;
}

.dark-mode .navlinks a {
    color: #F8FAFC;
}

.navlinks a:hover {
    color: var(--primary);
}

.dark-mode .navlinks a:hover {
    color: #7C5CFF;
}

#dark-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: var(--button-gradient);
    color: white;
    cursor: pointer;
}

/* Hero-section */

.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    background: var(--hero-gradient);
    position: relative;
    overflow: hidden;
    gap: 20px;
    justify-content: center;
    padding: 60px 8% 40px 8%;
    border-bottom: 1px solid #f0f0f0;
}

.dark-mode .hero {
    background: linear-gradient(135deg, #312E81, #4C1D95);
    border-bottom: 1px solid #334155;
}

.hero h1 {
    color: white;
    font-size: clamp(5px, 5vw, 60px);
    text-align: center;
}

.hero p{
    color: rgba(255,255,255,0.85);
}

.hero button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

/* Counter-section */

.Counter-section {
    text-align: center;
    padding: 30px 8%;
    border-bottom: 1px solid #f0f0f0;
}

.dark-mode .Counter-section {
    border-bottom: 1px solid #334155;
}

.Counter-section h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.counter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.counter-box button {
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    background:linear-gradient(135deg, #7a46f4,#4c4ef5);
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.2s;
}

#count {
    font-size: 35px;
}

/* About-section */

.about-section {
    text-align: center;
    background: var(--section-bg);
    flex-direction: column;
    padding: 30px 8%;
    border-bottom: 1px solid #f0f0f0;
}

.dark-mode .about-section {
    border-bottom: 1px solid #334155;
}

.about-section h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    color: var(--text-secondary);
}

/* Sevice-section */

.Service-section {
    padding: 30px 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
}

.dark-mode .Service-section {
    border-bottom: 1px solid #334155;
}

.Service-section h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cards {
    border-radius: 10px;
    padding: 18px 25px;
    gap: 10px;
    display: flex;
    transition: 0.4s;
    background: var(--card-bg);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
}

.cards:hover {
    transform: translateY(-10px);
}

.dark-mode .cards {
    background: #1E293B;
    border: 2px solid #334155;
}

.cards i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    color: white;
    font-size: 30px;
    width: 50px;
    height: 50px;
}

.fa-palette{
    background: #8B5CF6;
}
.fa-code{
    background: #0EA5E9;
}
.fa-mobile-screen-button{
    background: #10B981;
}

.info p {
    font-size: 16px;
    color: #6B7280;
}

/* contact-section */

.contact-section {
    padding: 30px 8%;
    display: flex;
    justify-content: center;
    background: var(--section-bg);
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.dark-mode .contact-section {
    border-bottom: 1px solid #334155;
}

.contact-section h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
}

form {
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px 50px 10px 15px;
    border-radius: 5px;
}

textarea {
    padding: 15px;
    border-radius: 5px;
}

input,
textarea{
    background: var(--card-bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
}

input::placeholder,
textarea::placeholder{
    color: var(--text-secondary);
}

.dark-mode input,
.dark-mode textarea {
    background: #1E293B;
    border: 2px solid #334155;
    color: white;
}

.contact-btn {
    padding: 15px;
    background-color: #7C5CFF;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s;
}

.footer {
    text-align: center;
    background: #0B1120;
    padding: 20px;
    color: white;
}